hero.army.size = 4

hero.archer.hp = 90
hero.archer.damage = 40
hero.archer.armor = 0
hero.archer.precision = 0.85

hero.footman.hp = 170
hero.footman.damage = 50
hero.footman.armor = 0.1
hero.footman.precision = 0.8

hero.healer.hp = 75
hero.healer.heal = 40
hero.healer.armor = 0
hero.healer.precision = 1

hero.magician.hp = 75
hero.magician.damage = 30
hero.magician.armor = 0
hero.magician.precision = 0.8

warlord.footman.hp = 180
warlord.footman.damage = 60
warlord.footman.armor = 0.15
warlord.footman.precision = 0.9

warlord.magician.hp = 90
warlord.magician.damage = 40
warlord.magician.armor = 0.05
warlord.magician.precision = 0.75

warlord.vampire.hp = 90
warlord.vampire.damage = 10
warlord.vampire.armor = 0.05
warlord.vampire.precision = 0.8