<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="org.apache.ibatis" level="INFO"/>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.neolab.heroesGame.aditional.ThreadNameBasedDiscriminator"/>
        <sift>
            <appender class="ch.qos.logback.core.FileAppender">
                <file>room-${roomName}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{20} | %msg%n%rEx</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIFT"/>
    </root>

</configuration>

